body {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  box-sizing: border-box;
  margin: 0;
  background-color: #000000;
}


h1 {
  font-family: 'KabelBold', 'helvetica', 'sans-serif';
  font-size: 35px;
  color: #ffffff; 
  text-align: center;
  padding-bottom: 46%;
}

/**

 h6 {
  font-family: 'KabelBold', 'helvetica', 'sans-serif';
  font-size: 24px;
  color: #ffffff; 
  text-align: center;
}

**/

p {
  font-family: 'KabelRegular', 'helvetica', 'sans-serif';
  font-size: 20px;
  margin: 1rem 0;
  color: #ffffff; 
  text-align: center;
}

.pbold {
  font-family: 'KabelBold', 'helvetica', 'sans-serif';
  color: #ffffff; 
  font-size: 20px;
  margin: 1rem 0;
  text-align: center;
}

h2 {
  font-family: 'KabelRegular', 'helvetica', 'sans-serif';
  font-size: 20px;
  margin: 1rem 0;
  color: #D23A3B; 
  text-align: center;
}

h3 {
  font-family: 'KabelBold', 'helvetica', 'sans-serif';
  font-size: 20px;
  color: #D23A3B; 
  margin: 1rem 0;
  text-align: center;
}

h4 {
  font-family: 'KabelRegular', 'helvetica', 'sans-serif';
  font-size: 20px;
  margin: 1rem 0;
  color: #108D45; 
  text-align: center;
}

h5 {
  font-family: 'KabelBold', 'helvetica', 'sans-serif';
  font-size: 20px;
  margin: 1rem 0;
  color: #108D45; 
  text-align: center;
}




.container {
  height: calc(100vh - 32px);
  margin: 16px;
  border: 4px solid #ffffff;
  overflow: hidden;
}

.card {
  height: calc(100vh - 32px);
  padding: 64px;
}

/* do not delete this */
.slotMachineNoTransition {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}


@font-face {
  font-family: 'KabelBold';
  src: url(KabelBold.ttf);
}

@font-face {
  font-family: 'KabelRegular';
  src: url(KabelRegular.ttf);
}
